NEXT_PUBLIC_SUPABASE_URL=https://kessgfvpxuiesmjggjvt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtlc3NnZnZweHVpZXNtamdnanZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0MjYyNTEsImV4cCI6MjEwMjAwMjI1MX0.JkOWkpLBCXN6cRkKlMY7oBMW7siod0maLvcwk2CueCw
